In [3]:
"5" + "3"

'53'

In [4]:
"hey" + "nasılsın"

'heynasılsın'

In [5]:
2 + 4 + 6

12

In [6]:
mesaj = "Merhaba"

In [7]:
isim = "Buse"

In [8]:
mesaj + " " + isim

'Merhaba Buse'

In [9]:
4 * " hey"

' hey hey hey hey'

In [10]:
type("1" + "0"*10)

str

In [11]:
len("buse")

4

In [12]:
isim = "Deniz"

In [13]:
isim[4]

'z'

In [14]:
isim[0:]

'Deniz'

In [15]:
x = int(input("Bir sayı girin:"))
if x < 10:
    print("Sayı 10'dan küçük")
elif x == 10:
    print("Sayı 10'a eşit")
else:
    print("Sayı 10'dan büyük ")
print("Programınız sona ulaştı.")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x = int(input("Bir sayı girin:"))
if x % 3 == 0:
    if x % 2 == 0:
        print("Sayı hem 2'ye hem 3'e bölünüyor.")
    else:
        print("Sayı 3' bölünüyor ama 2'ye bölünmüyor.")
else:
    print("3'e bölünmüyor")
print("Programınız sona ulaştı.")

Sayı 3' bölünüyor ama 2'ye bölünmüyor.
Programınız sona ulaştı.

In [ ]:
notlar = [78, 50, 80, 63]

In [ ]:
notlar[1] += 5
print(notlar)

[1, 20, 3]

In [ ]:
["a", "b"]
[True, False]
[[1,2], [3,4]]

In [ ]:
1 = [1, 2,"a", "b", True, 4.5, [1,2,3]]

In [ ]:
notlar[3]

63

In [ ]:
isim = ["Seval", "Buse", "Arslan"]
print(isim)

['Seval', 'Buse', 'Arslan']

In [ ]:
isim[2]= "Yılmaz" 
print(isim)

['Seval', 'Buse', 'Yılmaz']

In [ ]:
degerler = [1, 2,3]
print(degerler)

[1, 2, 3]

In [ ]:
degerler[1] += 5
print(degerler)

[1, 7, 3]

In [16]:
liste = [1, 2, 3, 4]

In [17]:
liste[0:3]

[1, 2, 3]

In [18]:
liste[0:3] = 30,40,40

In [19]:
liste

[30, 40, 40, 4]

In [20]:
liste[0:3] =[30]

In [21]:
liste

[30, 4]

In [22]:
len(liste)

2

In [23]:
liste.append(5)

In [24]:
liste

[30, 4, 5]

In [28]:
liste.extend([6, 7, 8])

In [29]:
liste

[30, 4, 5, 6, 7, 8]

In [31]:
liste.insert(0,3)

In [32]:
liste

[3, 30, 4, 5, 6, 7, 8]

In [33]:
liste.remove(3)

In [34]:
liste

[30, 4, 5, 6, 7, 8]

In [1]:
x = 10
y = 34

In [2]:
konum = (10, 34)

In [3]:
konum[0]

10

In [4]:
konum[:]

(10, 34)

In [5]:
temp = x
x = y
y = temp

In [7]:
x = 2

In [8]:
x

2

In [9]:
konum[0]

10

In [12]:
örnek = {"Deniz":{"not":100,"ogrenci_no":336}, "Emel":{"not":78, "ogrenci_no":505}, "Buğra": {"not":78,"ogrenci_no":606}}

In [13]:
örnek["Buğra"]

{'not': 78, 'ogrenci_no': 606}

In [1]:
yeniNotlar = [90, 72, 81, 77]

In [8]:
for i in range(len(yeniNotlar)):
    if i == 1:
        continue
    yeniNotlar[i] += 5
print(yeniNotlar)

[95, 72, 86, 82]

In [9]:
for i in range(len(yeniNotlar)):
    if i == 1:
        continue
    yeniNotlar[i] += 5
print(yeniNotlar)

[100, 72, 91, 87]

In [13]:
x= int(input("Hangi sayıyı kontrol edeyim?"))
l = [2,3,40,100,1]
for e in l:
    print(e)
    if e == x:
        print("Buldum!")
        continue

2
3
40
Buldum!
100
1

In [14]:
d = {"student_1":90, "student_2":80, "student_3":72}

In [21]:
for k in d:
    value = d[k]

    if value > 79:
        print(k)

student_1
student_2

In [23]:
for k,v in d.items():
    print("key değeri:", k, "value değeri:", v)

key değeri: student_1 value değeri: 90
key değeri: student_2 value değeri: 80
key değeri: student_3 value değeri: 72

In [24]:
l = ['limon', 'portakal', 'elma']

In [26]:
"-".join(l)

'limon-portakal-elma'

In [27]:
squares = []
for i in range(1,11):
    squares.append(i*i)

In [28]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
kareler = [i*i for i in range(1,11)]

In [30]:
kareler

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
odd_squares = []
for e in squares:
    if e % 2 == 1:
        odd_squares.append(e)

In [36]:
odd_squares

[1, 9, 25, 49, 81]

In [37]:
def is_odd(x):
    if x % 2 == 0:
        return False
    if x % 2 == 1:
        return True

In [39]:
numbers = [1,2,3,4,5,6,7,1,2]

In [40]:
set_numbers = {s for s in numbers if s in [1,2,3,4,5,6]}

In [41]:
set_numbers

{1, 2, 3, 4, 5, 6}

In [2]:
m = [[j for j in range(7)] for i in range(5)]

In [3]:
m

[[0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6]]

In [4]:
m = [[10,11,12], [13,14],[15,16,17,18]]

In [6]:
for l in m:
    print(l)

[10, 11, 12]
[13, 14]
[15, 16, 17, 18]

In [8]:
new_m = []
for l in m:
    print(l)
    for e in l:
        new_m.append(e)
        print(e)

[10, 11, 12]
10
11
12
[13, 14]
13
14
[15, 16, 17, 18]
15
16
17
18

In [9]:
flatten_m = [e for l in m for e in l]

In [10]:
flatten_m

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [11]:
flatten_m = [e for l in m for e in l if e % 2 == 0]

In [12]:
flatten_m

[10, 12, 14, 16, 18]

In [13]:
l = [(1,2), (10,20)]

In [14]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [15]:
for e in l:
    a, b = e
    print(a)
    print(b)
    print("*******")

1
2
*******
10
20
*******

In [21]:
for a, b in l:
    print("tuple'ın ilk elemanı", a)
    print("tuple'ın ikinci elemanı", b)
    print("********")

tuple'ın ilk elemanı 1
tuple'ın ikinci elemanı 2
********
tuple'ın ilk elemanı 10
tuple'ın ikinci elemanı 20
********

In [24]:
adlar = ['Tyler', 'Blake', 'Cory', 'Cameron']

In [25]:
for e in adlar:
    print(e)

Tyler
Blake
Cory
Cameron

In [23]:
for i, e in enumerate(adlar):
    print(i, "indexindeki eleman:", e)

0 indexindeki eleman: Tyler
1 indexindeki eleman: Blake
2 indexindeki eleman: Cory
3 indexindeki eleman: Cameron

In [26]:
for i, e in enumerate(adlar, start = 1):
    print(i, "lokasyonda bulunan eleman:", e)

1 lokasyonda bulunan eleman: Tyler
2 lokasyonda bulunan eleman: Blake
3 lokasyonda bulunan eleman: Cory
4 lokasyonda bulunan eleman: Cameron

In [27]:
ogrenciler = ["ogrenci_1", "ogrenci_2", "ogrenci_3"]

In [28]:
notlar = [90,80,72]

In [31]:
for i in range(len(ogrenciler)):
    s= ogrenciler[i]
    g= notlar[i]
    print(s,g)

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

In [34]:
satis= [3500, 7630, 6730]
maliyet = [1000,2000,3000]
for i in range(len(maliyet)):
    s = satis[i]
    c = maliyet[i]

    kar = s - c
    print(f'Total profit: {kar}')

Total profit: 2500
Total profit: 5630
Total profit: 3730

In [35]:
keys = ['isim', 'soyad', 'ulke', 'is']
values = ['Denis', 'Walker', 'Turkey', 'data scientist']

In [36]:
d = {}
for k, v in zip(keys, values):
    d[k]=v

In [37]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}

In [1]:
def kare(x):
    return x**2

In [2]:
a = kare

In [3]:
kare(5)

25

In [4]:
a(4)

16

In [5]:
def f2(x, f):
    return f(x) + 4

In [6]:
f2(3,kare)

13

In [7]:
def f3(x):
    return x**5

In [8]:
f2(2, f3)

36

In [3]:
l = [1,2,3,4]

In [4]:
def apply(l, f):
    n = len(l)
    for i in range(n):
        l[i] = f(l[i])

In [5]:
def kare(x):
    return x**2

In [6]:
apply(l, kare)

In [7]:
l

[1, 4, 9, 16]

In [ ]:
points = []